body {
    height: 100vh;
    background: linear-gradient(to bottom right, #f7d6de, #d5e7ee, #7391a8);
    color: #333;
}

.image-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.image-container img {
    width: 600px;
    height: 550px;
    object-fit: cover;
}

.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}