{% extends "cd_app/class.html" %}
{% load static %}

{% block body_block %}
      <!-- Main -->
      <div class="container-recap-values">
        <div class="title-task">
          <h1>Dosen</h1>
        </div>
        <div class="list-mahasiswa">
          <div class="mahasiswa-item">
            <div class="profile">
              <div class="profile-icon">
                <img src="./img/profile.jpg" alt="Profile Icon" />
              </div>
              <span class="name">Muhammad Imam</span>
            </div>
          </div>
        </div>
        <div class="title-task mt-5">
          <h1>Mahasiswa</h1>
        </div>
        <div class="list-mahasiswa">
          <div class="mahasiswa-item">
            <div class="profile">
              <div class="profile-icon">
                <img src="./img/profile.jpg" alt="Profile Icon" />
              </div>
              <span class="name">Muhammad Imam</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar">
                <span class="progress-label">25%</span>
              </div>
            </div>
          </div>
          <div class="mahasiswa-item">
            <div class="profile">
              <div class="profile-icon">
                <img src="./img/profile.jpg" alt="Profile Icon" />
              </div>
              <span class="name">Muhammad Imam</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar">
                <span class="progress-label">25%</span>
              </div>
            </div>
          </div>
          <div class="mahasiswa-item">
            <div class="profile">
              <div class="profile-icon">
                <img src="./img/profile.jpg" alt="Profile Icon" />
              </div>
              <span class="name">Muhammad Imam</span>
            </div>
            <div class="progress-container">
              <div class="progress-bar">
                <span class="progress-label">25%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
