{% extends "cd_app/class.html" %}
{% load static %}

{% block body_block %}
      <!-- Main -->
      <div class="container-presence">
        <div class="title-task">
          <h1>Kehadiran</h1>
        </div>

        <div class="wrap-fill-presence mt-1">
          <div class="week-to d-flex gap-4">
            <div class="icon-calendar">
              <i class="fa-regular fa-calendar-days"></i>
            </div>
            <p>Minggu ke-1</p>
          </div>
          <div class="button-presence">
            <p>13 November 2024 20.00</p>
            <div class="bg-button text-center">
              <a href="">Presensi [M]</a>
              <p>Terbuka</p>
            </div>
          </div>
        </div>
        <div class="wrap-fill-presence mt-1">
          <div class="week-to d-flex gap-4">
            <div class="icon-calendar">
              <i class="fa-regular fa-calendar-days"></i>
            </div>
            <p>Minggu ke-1</p>
          </div>
          <div class="button-presence">
            <p>13 November 2024 20.00</p>
            <div class="bg-button text-center">
              <a href="">Presensi [M]</a>
              <p>Terbuka</p>
            </div>
          </div>
        </div>
        <div class="wrap-fill-presence mt-1">
          <div class="week-to d-flex gap-4">
            <div class="icon-calendar">
              <i class="fa-regular fa-calendar-days"></i>
            </div>
            <p>Minggu ke-1</p>
          </div>
          <div class="button-presence">
            <p>13 November 2024 20.00</p>
            <div class="bg-button text-center">
              <a href="">Presensi [M]</a>
              <p>Terbuka</p>
            </div>
          </div>
        </div>
        <div class="wrap-fill-presence mt-1">
          <div class="week-to d-flex gap-4">
            <div class="icon-calendar">
              <i class="fa-regular fa-calendar-days"></i>
            </div>
            <p>Minggu ke-1</p>
          </div>
          <div class="button-presence">
            <p>13 November 2024 20.00</p>
            <div class="bg-button text-center">
              <a href="">Presensi [M]</a>
              <p>Terbuka</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}