{% extends "cd_app/class.html" %}
{% load static %}

{% block body_block %}
      <!-- Main -->
      <div class="container-recap-values">
        <div class="title-task">
          <h1>Rekapitulasi Nilai</h1>
        </div>
        <div class="wrap-list-values">
          <table class="recap-table">
            <thead>
              <tr>
                <th>NO.</th>
                <th>JENIS</th>
                <th>JUDUL TUGAS</th>
                <th>NILAI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4" class="no-data">TIDAK ADA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
